
</main>
<footer id="pixel-font-chooser">
    <button id="choose-pixel" onclick="document.body.classList.remove('non-pixel-font');" title="Choose a pixelated font, more in-theme but harder to read.">A</button>
    <span>/</span>
    <button id="choose-nonpixel" onclick="document.body.classList.add('non-pixel-font');" title="Choose a non-pixelated font, easier to read.">A</button>
</footer>
</body>
</html>
